/* 
black:#000000
brightYellow:#fef200
orangeYellow:#fed500
medYellow:#e8d048
white:#ffffff
grey:#b4b4b4
*/


.pixel-bulb {
 width: 1em;
 height: 1em;
 box-shadow:
    6em 0em #000000,
    7em 0em #000000,
    8em 0em #000000,
    9em 0em #000000,

    4em 1em #000000,
    5em 1em #000000,
    6em 1em #fef200,
    7em 1em #fef200,
    8em 1em #e8d048,
    9em 1em #e8d048,
    10em 1em #000000,
    11em 1em #000000,

    3em 2em #000000,
    4em 2em #fef200,
    5em 2em #e8d048,
    6em 2em #e8d048,
    7em 2em #e8d048,
    8em 2em #ffffff,
    9em 2em #ffffff,
    10em 2em #e8d048,
    11em 2em #fed500,
    12em 2em #000000,
    
    2em 3em #000000,
    3em 3em #fef200,
    4em 3em #e8d048,
    5em 3em #e8d048,
    6em 3em #e8d048,
    7em 3em #e8d048,
    8em 3em #e8d048,
    9em 3em #e8d048,
    10em 3em #ffffff,
    11em 3em #fed500,
    12em 3em #fed500,
    13em 3em #000000,
    
    2em 4em #000000,
    3em 4em #fef200,
    4em 4em #e8d048,
    5em 4em #e8d048,
    6em 4em #e8d048,
    7em 4em #e8d048,
    8em 4em #e8d048,
    9em 4em #e8d048,
    10em 4em #e8d048,
    11em 4em #ffffff,
    12em 4em #fed500,
    13em 4em #000000,
    
    1em 5em #000000,
    2em 5em #fef200,
    3em 5em #e8d048,
    4em 5em #000000,
    5em 5em #e8d048,
    6em 5em #e8d048,
    7em 5em #e8d048,
    8em 5em #e8d048,
    9em 5em #e8d048,
    10em 5em #000000,
    11em 5em #ffffff,
    12em 5em #e8d048,
    13em 5em #fed500,
    14em 5em #000000,

    1em 6em #000000,
    2em 6em #fef200,
    3em 6em #e8d048,
    4em 6em #000000,
    5em 6em #e8d048,
    6em 6em #e8d048,
    7em 6em #e8d048,
    8em 6em #e8d048,
    9em 6em #e8d048,
    10em 6em #000000,
    11em 6em #e8d048,
    12em 6em #e8d048,
    13em 6em #fed500,
    14em 6em #000000,
    
    1em 7em #000000,
    2em 7em #fef200,
    3em 7em #e8d048,
    4em 7em #e8d048,
    5em 7em #000000,
    6em 7em #e8d048,
    7em 7em #e8d048,
    8em 7em #e8d048,
    9em 7em #e8d048,
    10em 7em #000000,
    11em 7em #e8d048,
    12em 7em #e8d048,
    13em 7em #fed500,
    14em 7em #000000,

    2em 8em #000000,
    3em 8em #fef200,
    4em 8em #e8d048,
    5em 8em #e8d048,
    6em 8em #000000,
    7em 8em #e8d048,
    8em 8em #e8d048,
    9em 8em #e8d048,
    10em 8em #000000,
    11em 8em #e8d048,
    12em 8em #fed500,
    13em 8em #000000,
    
    2em 9em #000000,
    3em 9em #fef200,
    4em 9em #e8d048,
    5em 9em #e8d048,
    6em 9em #000000,
    7em 9em #e8d048,
    8em 9em #e8d048,
    9em 9em #000000,
    10em 9em #e8d048,
    11em 9em #e8d048,
    12em 9em #fed500,
    13em 9em #000000,

    3em 10em #000000,
    4em 10em #fef200,
    5em 10em #e8d048,
    6em 10em #000000,
    7em 10em #e8d048,
    8em 10em #e8d048,
    9em 10em #000000,
    10em 10em #e8d048,
    11em 10em #fed500,
    12em 10em #000000,

    4em 11em #000000,
    5em 11em #fef200,
    6em 11em #000000,
    7em 11em #e8d048,
    8em 11em #e8d048,
    9em 11em #000000,
    10em 11em #fed500,
    11em 11em #000000,
    
    4em 12em #000000,
    5em 12em #000000,
    6em 12em #000000,
    7em 12em #000000,
    8em 12em #000000,
    9em 12em #000000,
    10em 12em #000000,
    11em 12em #000000,
    
    4em 13em #000000,
    5em 13em #ffffff,
    6em 13em #ffffff,
    7em 13em #ffffff,
    8em 13em #b4b4b4,
    9em 13em #b4b4b4,
    10em 13em #b4b4b4,
    11em 13em #000000,
    
    4em 14em #000000,
    5em 14em #000000,
    6em 14em #000000,
    7em 14em #000000,
    8em 14em #000000,
    9em 14em #000000,
    10em 14em #000000,
    11em 14em #000000,
    
    4em 15em #000000,
    5em 15em #ffffff,
    6em 15em #ffffff,
    7em 15em #ffffff,
    8em 15em #b4b4b4,
    9em 15em #b4b4b4,
    10em 15em #b4b4b4,
    11em 15em #000000,
    
    4em 16em #000000,
    5em 16em #000000,
    6em 16em #000000,
    7em 16em #000000,
    8em 16em #000000,
    9em 16em #000000,
    10em 16em #000000,
    11em 16em #000000,
    
    5em 17em #000000,
    6em 17em #ffffff,
    7em 17em #ffffff,
    8em 17em #b4b4b4,
    9em 17em #b4b4b4,
    10em 17em #000000,
    
    6em 18em #000000,
    7em 18em #000000,
    8em 18em #000000,
    9em 18em #000000;
}

/* white:#ffffff
grey:#b4b4b4 */