/* 
    white:#ffffff
    black:#000000
    blue:#9bcdf8
    dark-grey:#4b4b49
    light-grey:#cdcdcd
    med-grey:#7f7f7f
    purple:#a020f0
*/

.pixel-camera {
 width: 1em;
 height: 1em;
 box-shadow:
    0em 0em #ffffff,
    1em 0em #ffffff,
    2em 0em #000000,
    3em 0em #000000,
    4em 0em #ffffff,
    5em 0em #ffffff,
    6em 0em #ffffff,
    7em 0em #ffffff,
    8em 0em #ffffff,
    9em 0em #ffffff,
    10em 0em #ffffff,
    11em 0em #ffffff,
    12em 0em #ffffff,
    13em 0em #ffffff,
    14em 0em #ffffff,
    15em 0em #ffffff,
    
    0em 1em #ffffff,
    1em 1em #000000,
    2em 1em #000000,
    3em 1em #000000,
    4em 1em #000000,
    5em 1em #000000,
    6em 1em #000000,
    7em 1em #000000,
    8em 1em #000000,
    9em 1em #000000,
    10em 1em #000000,
    11em 1em #000000,
    12em 1em #000000,
    13em 1em #000000,
    14em 1em #000000,
    15em 1em #ffffff,
    
    0em 2em #000000,
    1em 2em #cdcdcd,
    2em 2em #cdcdcd,
    3em 2em #cdcdcd,
    4em 2em #4b4b49,
    5em 2em #cdcdcd,
    6em 2em #cdcdcd,
    7em 2em #cdcdcd,
    8em 2em #cdcdcd,
    9em 2em #cdcdcd,
    10em 2em #cdcdcd,
    11em 2em #cdcdcd,
    12em 2em #cdcdcd,
    13em 2em #cdcdcd,
    14em 2em #cdcdcd,
    15em 2em #000000,

    0em 3em #000000,
    1em 3em #cdcdcd,
    2em 3em #a020f0,
    3em 3em #a020f0,
    4em 3em #4b4b49,
    5em 3em #7f7f7f,
    6em 3em #000000,
    7em 3em #000000,
    8em 3em #000000,
    9em 3em #000000,
    10em 3em #7f7f7f,
    11em 3em #7f7f7f,
    12em 3em #7f7f7f,
    13em 3em #7f7f7f,
    14em 3em #7f7f7f,
    15em 3em #000000,

    0em 4em #000000,
    1em 4em #7f7f7f,
    2em 4em #4b4b49,
    3em 4em #4b4b49,
    4em 4em #4b4b49,
    5em 4em #000000,
    6em 4em #cdcdcd,
    7em 4em #cdcdcd,
    8em 4em #cdcdcd,
    9em 4em #cdcdcd,
    10em 4em #000000,
    11em 4em #4b4b49,
    12em 4em #4b4b49,
    13em 4em #4b4b49,
    14em 4em #4b4b49,
    15em 4em #000000,

    0em 5em #000000,
    1em 5em #cdcdcd,
    2em 5em #7f7f7f,
    3em 5em #7f7f7f,
    4em 5em #000000,
    5em 5em #cdcdcd,
    6em 5em #cdcdcd,
    7em 5em #000000,
    8em 5em #000000,
    9em 5em #cdcdcd,
    10em 5em #cdcdcd,
    11em 5em #000000,
    12em 5em #7f7f7f,
    13em 5em #7f7f7f,
    14em 5em #7f7f7f,
    15em 5em #000000,

    0em 6em #000000,
    1em 6em #cdcdcd,
    2em 6em #7f7f7f,
    3em 6em #7f7f7f,
    4em 6em #000000,
    5em 6em #cdcdcd,
    6em 6em #000000,
    7em 6em #9bcdf8,
    8em 6em #9bcdf8,
    9em 6em #000000,
    10em 6em #cdcdcd,
    11em 6em #000000,
    12em 6em #7f7f7f,
    13em 6em #7f7f7f,
    14em 6em #7f7f7f,
    15em 6em #000000,

    0em 7em #000000,
    1em 7em #cdcdcd,
    2em 7em #7f7f7f,
    3em 7em #7f7f7f,
    4em 7em #000000,
    5em 7em #cdcdcd,
    6em 7em #000000,
    7em 7em #9bcdf8,
    8em 7em #9bcdf8,
    9em 7em #000000,
    10em 7em #cdcdcd,
    11em 7em #000000,
    12em 7em #7f7f7f,
    13em 7em #7f7f7f,
    14em 7em #7f7f7f,
    15em 7em #000000,

    0em 8em #000000,
    1em 8em #cdcdcd,
    2em 8em #7f7f7f,
    3em 8em #7f7f7f,
    4em 8em #000000,
    5em 8em #cdcdcd,
    6em 8em #cdcdcd,
    7em 8em #000000,
    8em 8em #000000,
    9em 8em #cdcdcd,
    10em 8em #cdcdcd,
    11em 8em #000000,
    12em 8em #7f7f7f,
    13em 8em #7f7f7f,
    14em 8em #7f7f7f,
    15em 8em #000000,

    0em 9em #000000,
    1em 9em #7f7f7f,
    2em 9em #4b4b49,
    3em 9em #4b4b49,
    4em 9em #4b4b49,
    5em 9em #000000,
    6em 9em #cdcdcd,
    7em 9em #cdcdcd,
    8em 9em #cdcdcd,
    9em 9em #cdcdcd,
    10em 9em #000000,
    11em 9em #4b4b49,
    12em 9em #4b4b49,
    13em 9em #4b4b49,
    14em 9em #4b4b49,
    15em 9em #000000,

    0em 10em #000000,
    1em 10em #cdcdcd,
    2em 10em #7f7f7f,
    3em 10em #7f7f7f,
    4em 10em #7f7f7f,
    5em 10em #7f7f7f,
    6em 10em #000000,
    7em 10em #000000,
    8em 10em #000000,
    9em 10em #000000,
    10em 10em #7f7f7f,
    11em 10em #7f7f7f,
    12em 10em #7f7f7f,
    13em 10em #7f7f7f,
    14em 10em #7f7f7f,
    15em 10em #000000,

    0em 11em #000000,
    1em 11em #cdcdcd,
    2em 11em #7f7f7f,
    3em 11em #7f7f7f,
    4em 11em #7f7f7f,
    5em 11em #7f7f7f,
    6em 11em #7f7f7f,
    7em 11em #7f7f7f,
    8em 11em #7f7f7f,
    9em 11em #7f7f7f,
    10em 11em #7f7f7f,
    11em 11em #7f7f7f,
    12em 11em #7f7f7f,
    13em 11em #7f7f7f,
    14em 11em #7f7f7f,
    15em 11em #000000,

    1em 12em #000000,
    2em 12em #000000,
    3em 12em #000000,
    4em 12em #000000,
    5em 12em #000000,
    6em 12em #000000,
    7em 12em #000000,
    8em 12em #000000,
    9em 12em #000000,
    10em 12em #000000,
    11em 12em #000000,
    12em 12em #000000,
    13em 12em #000000,
    14em 12em #000000
    ;
}