/* 
black:#000000
brightYellow:#fef200
orangeYellow:#fed500
medYellow:#e8d048
white:#ffffff
grey:#b4b4b4
*/


.pixel-github {
 width: 1em;
 height: 1em;
 box-shadow:
    2em 0em #ffffff,
    3em 0em #ffffff,
    4em 0em #ffffff,
    14em 0em #ffffff,
    15em 0em #ffffff,
    16em 0em #ffffff,

    2em 1em #ffffff,
    3em 1em #ffffff,
    4em 1em #ffffff,
    5em 1em #ffffff,
    14em 1em #ffffff,
    15em 1em #ffffff,
    16em 1em #ffffff,

    2em 2em #ffffff,
    3em 2em #ffffff,
    4em 2em #ffffff,
    5em 2em #ffffff,
    6em 2em #ffffff,
    7em 2em #ffffff,
    8em 2em #ffffff,
    9em 2em #ffffff,
    10em 2em #ffffff,
    11em 2em #ffffff,
    12em 2em #ffffff,
    13em 2em #ffffff,
    14em 2em #ffffff,
    15em 2em #ffffff,
    16em 2em #ffffff,

    3em 3em #ffffff,
    4em 3em #ffffff,
    5em 3em #ffffff,
    6em 3em #ffffff,
    7em 3em #ffffff,
    8em 3em #ffffff,
    9em 3em #ffffff,
    10em 3em #ffffff,
    11em 3em #ffffff,
    12em 3em #ffffff,
    13em 3em #ffffff,
    14em 3em #ffffff,
    15em 3em #ffffff,

    2em 4em #ffffff,
    3em 4em #ffffff,
    4em 4em #ffffff,
    5em 4em #ffffff,
    6em 4em #ffffff,
    7em 4em #ffffff,
    8em 4em #ffffff,
    9em 4em #ffffff,
    10em 4em #ffffff,
    11em 4em #ffffff,
    12em 4em #ffffff,
    13em 4em #ffffff,
    14em 4em #ffffff,
    15em 4em #ffffff,
    16em 4em #ffffff,

    2em 5em #ffffff,
    3em 5em #ffffff,
    4em 5em #ffffff,
    5em 5em #ffffff,
    6em 5em #ffffff,
    7em 5em #ffffff,
    8em 5em #ffffff,
    9em 5em #ffffff,
    10em 5em #ffffff,
    11em 5em #ffffff,
    12em 5em #ffffff,
    13em 5em #ffffff,
    14em 5em #ffffff,
    15em 5em #ffffff,
    16em 5em #ffffff,

    2em 6em #ffffff,
    3em 6em #ffffff,
    4em 6em #ffffff,
    5em 6em #ffffff,
    6em 6em #ffffff,
    7em 6em #ffffff,
    8em 6em #ffffff,
    9em 6em #ffffff,
    10em 6em #ffffff,
    11em 6em #ffffff,
    12em 6em #ffffff,
    13em 6em #ffffff,
    14em 6em #ffffff,
    15em 6em #ffffff,
    16em 6em #ffffff,

    3em 7em #ffffff,
    4em 7em #ffffff,
    5em 7em #ffffff,
    6em 7em #ffffff,
    7em 7em #ffffff,
    8em 7em #ffffff,
    9em 7em #ffffff,
    10em 7em #ffffff,
    11em 7em #ffffff,
    12em 7em #ffffff,
    13em 7em #ffffff,
    14em 7em #ffffff,
    15em 7em #ffffff,

    6em 8em #ffffff,
    7em 8em #ffffff,
    8em 8em #ffffff,
    9em 8em #ffffff,
    10em 8em #ffffff,
    11em 8em #ffffff,
    12em 8em #ffffff,

    1em 9em #ffffff,
    7em 9em #ffffff,
    8em 9em #ffffff,
    9em 9em #ffffff,
    10em 9em #ffffff,
    11em 9em #ffffff,

    2em 10em #ffffff,
    6em 10em #ffffff,
    7em 10em #ffffff,
    8em 10em #ffffff,
    9em 10em #ffffff,
    10em 10em #ffffff,
    11em 10em #ffffff,
    12em 10em #ffffff,

    2em 11em #ffffff,
    5em 11em #ffffff,
    6em 11em #ffffff,
    7em 11em #ffffff,
    8em 11em #ffffff,
    9em 11em #ffffff,
    10em 11em #ffffff,
    11em 11em #ffffff,
    12em 11em #ffffff,

    3em 12em #ffffff,
    4em 12em #ffffff,
    5em 12em #ffffff,
    6em 12em #ffffff,
    7em 12em #ffffff,
    8em 12em #ffffff,
    9em 12em #ffffff,
    10em 12em #ffffff,
    11em 12em #ffffff,
    12em 12em #ffffff,

    6em 13em #ffffff,
    7em 13em #ffffff,
    8em 13em #ffffff,
    9em 13em #ffffff,
    10em 13em #ffffff,
    11em 13em #ffffff,
    12em 13em #ffffff,

    5em 14em #ffffff,
    6em 14em #ffffff,
    7em 14em #ffffff,
    8em 14em #ffffff,
    9em 14em #ffffff,
    10em 14em #ffffff,
    11em 14em #ffffff,
    12em 14em #ffffff,
    13em 14em #ffffff
    ;
}